{% extends "common/base.html"%}
{% block content %}

    <h1>所有话题</h1>
	<a  href="{% url aiteo_question_create %}" class="btn btn-large btn-primary" type="button">新建</a>
</hr>  
 <table class="table table-hover  table-striped">
    {% for question in questions.all %}

    <tr>
        <td><a href="question/{{question.id}}">{{ question.question }} <a></td>
 	   <td id="{{question.id}}">
<a class="btn btn-danger buttondown pull-right" href="#" data-toggle="tooltip"  data-original-title="{{ question.vote_down_count }}"><i class="icon-thumbs-down"></i></a>
 <a class="btn  buttonup pull-right" href="#" data-toggle="tooltip"  data-original-title="{{ question.vote_up_count }}"><i class="icon-thumbs-up"></i></a>
          </td> </tr>
    {% endfor %}
</table>

{%endblock%}
{% block scripts %}
<script src=""></script>
<script type="text/javascript">
    $(document).ready(function() {
	$('.buttonup').tooltip();
	$('.buttondown').tooltip();
            $('.buttondown').click(function () {
                var thisobject = $(this).parent();
                var id = thisobject.attr("id");
                var completeurl = "question/vote-question/" + id + "_" + id + "/downvote/";
                $.ajax({
                    type: "GET",
                    url: completeurl,
                    data: "amit",
                    success: function ( response ) {
                        response = $.trim( response );
                        $.ajaxSetup({ cache: false});
                        $("#"+id).children(".buttondown").attr("data-original-title",response);
                         $("#"+id).children('.buttondown').tooltip('destroy');
                         $("#"+id).children('.buttondown').tooltip();
                        $("#"+id).children('.buttondown').tooltip('show');
                        }
                    }); 
                return false;
                });


            
            $('.buttonup').click(function () {
                var thisobject = $(this).parent();
                var id = thisobject.attr("id");
                var completeurl = "question/vote-question/" + id + "_" + id + "/upvote/";
                $.ajax({
                    type: "GET",
                    url: completeurl,
                    data: "amit",
                    success: function ( response ) {
                        response = $.trim( response );
                        $.ajaxSetup({ cache: false});
                        $("#"+id).children(".buttonup").attr("data-original-title",response);
			 $("#"+id).children('.buttonup').tooltip('destroy');
			 $("#"+id).children('.buttonup').tooltip();
			$("#"+id).children('.buttonup').tooltip('show');
                        }
                    }); 
                return false;
                });    
    });
</script>
{%endblock%}
