{%extends "common/base.html"%}
{% block content%}
<h1>回应</h1>
    <a href="{% url aiteo_question_list %}" class="btn">所有话题</a>
    <a href="{% url aiteo_question_create %}" class="btn btn-primary">新建话题</a>
<hr />    
<form action="." method="POST">
<div class="well">
 {% csrf_token %}
       <p class="lead">{{ question.question }}  <span id="{{question.id}}">>

<a class="btn btn-danger buttondown pull-right" href="#" data-toggle="tooltip"  data-original-title="{{ question.vote_down_count }}"><i class="icon-thumbs-down"></i></a>
 <a class="btn  buttonup pull-right" href="#" data-toggle="tooltip"  data-original-title="{{ question.vote_up_count }}"><i class="icon-thumbs-up"></i></a>
</span> </p>
<hr />
       <p> {{ question.content }}</p>
</div>  
<table class="table table-hover ">      

        {% for response in responses.all %}
<tr><td>
       <strong> {{forloop.counter}}</strong> : By {{response.user}} 
        </td>
       <td> {{ response }} </td>
 <td id="{{question.id}}_{{response.id}}">
<a class="btn btn-danger rbuttondown pull-right" href="#" data-toggle="tooltip"  data-original-title=" {{ response.vote_down_count }}"><i class="icon-thumbs-down"></i></a>
 <a class="btn  rbuttonup pull-right" href="#" data-toggle="tooltip"  data-original-title=" {{ response.vote_up_count }}"><i class="icon-thumbs-up"></i></a>
          </td>      
</tr>
        {% endfor %}
</table>
        <table>
            {{ add_response_form.as_table }}
        </table>
    <p><input class="btn btn-primary" type="submit" value="提交"/></p>
    </form>
    {%endblock%}
    {% block scripts%}
<script src=""></script>
    <script type="text/javascript">
    $(document).ready(function() {
	$('.buttonup').tooltip();
	$('.buttondown').tooltip();
            $('.buttondown').click(function () {
                var thisobject = $(this).parent();
                var id = thisobject.attr("id");
                var completeurl = "/forum/question/vote-question/" + id + "_" + id + "/downvote/";
                $.ajax({
                    type: "GET",
                    url: completeurl,
                    data: "amit",
                    success: function ( response ) {
                        response = $.trim( response );
                        $.ajaxSetup({ cache: false});
                        $("#"+id).children(".buttondown").attr("data-original-title",response);
                         $("#"+id).children('.buttondown').tooltip('destroy');
                         $("#"+id).children('.buttondown').tooltip();
                        $("#"+id).children('.buttondown').tooltip('show');
                        }
                    }); 
                return false;
                });


            
            $('.buttonup').click(function () {
                var thisobject = $(this).parent();
                var id = thisobject.attr("id");
                var completeurl = "/forum/question/vote-question/" + id + "_" + id + "/upvote/";
                $.ajax({
                    type: "GET",
                    url: completeurl,
                    data: "amit",
                    success: function ( response ) {
                        response = $.trim( response );
                        $.ajaxSetup({ cache: false});
                        $("#"+id).children(".buttonup").attr("data-original-title",response);
			 $("#"+id).children('.buttonup').tooltip('destroy');
			 $("#"+id).children('.buttonup').tooltip();
			$("#"+id).children('.buttonup').tooltip('show');
                        }
                    }); 
                return false;
                });    

	$('.rbuttonup').tooltip();
	$('.rbuttondown').tooltip();
            $('.rbuttondown').click(function () {
                var thisobject = $(this).parent();
                var id = thisobject.attr("id");
                var completeurl = "../vote-response/" + id + "/downvote/";
                $.ajax({
                    type: "GET",
                    url: completeurl,
                    data: "amit",
                    success: function ( response ) {
                        response = $.trim( response );
                        $.ajaxSetup({ cache: false});
                        $("#"+id).children(".rbuttondown").attr("data-original-title",response);
                         $("#"+id).children('.rbuttondown').tooltip('destroy');
                         $("#"+id).children('.rbuttondown').tooltip();
                        $("#"+id).children('.rbuttondown').tooltip('show');
                        }
         }); 
                return false;
                });


            
            $('.rbuttonup').click(function () {
                var thisobject = $(this).parent();
                var id = thisobject.attr("id");
                var completeurl = "../vote-response/" + id + "/upvote/";
                $.ajax({
                    type: "GET",
                    url: completeurl,
                    data: "amit",
                    success: function ( response ) {
                        response = $.trim( response );
                        $.ajaxSetup({ cache: false});
                        $("#"+id).children(".rbuttonup").attr("data-original-title",response);
			 $("#"+id).children('.rbuttonup').tooltip('destroy');
			 $("#"+id).children('.rbuttonup').tooltip();
			$("#"+id).children('.rbuttonup').tooltip('show');
                        }
                    }); 
                return false;
                });    


    });

</script>

    {%endblock%}
