{% extends "common/base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<h2>谷歌搜索</h2>
<form action="http://www.google.com/search" method="get" class="form-search">    
    <input name="ie" value="UTF-8" type="hidden" />    
    <input  name="q" class="input-large"  type="text"/>    
    <input name="Search" value="搜索" class="btn" type="submit" />    
</form>   
<hr />
<h2>站内搜索</h2>
<form method="get" action="." class="form-horizontal">
  {{ form.q }}
     <input type="submit" class="btn" value="搜索">
{% if query %}
<hr />
<h3>搜索结果</h3>
{% for result in page.object_list %}
<p><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></p>
{% empty %}
<p>没有结果，换个关键字试试？</p>
{% endfor %}
{% endif %}
</form>
{% endblock %}
