<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>文章 {% block title %}{% endblock %}</title>
    <style type="text/css">
        #header {
            width: 800px;
            margin: 0 20px 1em 20px;
            border-bottom: 1px solid #ccc;
        }
        #content {
            width: 550px;
            margin: 0 20px;
            float: left;
        }
        #sidebar {
            width: 230px;
            float: left;
        }
    </style>
</head>
<body class="{% block bodyclass %}{% endblock %}">
    <div id="header">
        <h1 id="branding">文章</h1>
        <li><a href="{% url userena_signout %}"><span>退出</span></a></li>
        <li><a href="{% url userena_profile_detail user.username %}"><span>个人中心</span></a></li>
        <li><a href="/search"><span>搜索</span></a></li>
        <li><a href="/exam_test/checkout/"><span>测试</span></a></li>
        <li><a href="{% url sign %}"><span>签到</span></a></li>
        <li><a href="/forum"><span>话题</span></a></li>
    </div>
    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    
    <div id="sidebar">
        <h2>浏览</h2>
        <ul id="main-nav">
            <li id="main-nav-entries"><a href="{% url coltrane_entry_archive_index %}">最新</a></li>
            <li id="main-nav-entries"><a href="{% url coltrane_entry_index %}">所有</a></li>
            <li id="main-nav-categories"><a href="{% url coltrane_category_list %}">标签</a></li>
        </ul>
        
        {% load coltrane_tags %}
        <h2>最新文章</h2>
        <ul>
            {% get_latest_content coltrane.entry 5 as latest_entries %}
            {% for entry in latest_entries %}
            <li>
                <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>, 已发表 {{ entry.pub_date|timesince }}
            </li>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>
