{% extends "coltrane/base_entries.html" %}

{% block content %}
    <h2>文章</h2>
    
    {% if object_list %}
    {% for entry in object_list %}
    <div>
      <h2>{{ entry.title }}</h2>
      <p>发表于 {{ entry.pub_date|date:"F j, Y" }}</p>
      {% if entry.excerpt_html %}
       {{ entry.excerpt_html|safe }}
      {% else %}
        {{ entry.body_html|truncatewords_html:"50"|safe }}
      {% endif %}
      <p><a href="{{ entry.get_absolute_url }}">阅读全文</a></p>
            {% comment %}
            <li><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
             {% endcomment %}
         </div>
         <hr />
             {% endfor %}
    {% else %}
        <p>没有推荐文章</p>
    {% endif %}
    
    <p>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
    </p>
    
{% endblock %}

