 {% extends "common/base.html" %}
  
        {% block title %}签到记录{% endblock %}
           
   {% block content %}
   <table class="table table-striped table-hover table-bordered">
    {% if object_list %}
    {% for sign in object_list %}
    <tr>
        <td>
        {{forloop.counter}} | 
       <a href="{{ sign.get_absolute_url }}">{{ sign.mood }}</a></td>
    </tr>
        {% endfor %}
    {% else %}
    <tr><td>没有签到记录</td></tr>
    {% endif %}
</table>
    <p>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
    </p>
    </p><a class="btn btn-middle btn-success" href="{% url recommend_article %}"><span>回到首页</span></a></p>


    {% endblock %}
