{% extends "common/base.html"%}
{% block content%}
<form name="input" action="" method="get">
{% if sucess %}
<h2>得分:{{ rate }} 分 </h2>
        <table class="table table-bordered">
            <tr><td>
问题1：
{{ all_questions.0.question }}

A:
{{ all_questions.0.answer_a }}
<br />
B:
{{ all_questions.0.answer_b }}
<br />
C:
{{ all_questions.0.answer_c }}
<br />
D:
{{ all_questions.0.answer_d }}
<br />
你的答案：
{{ all_questions.0.answer }}
<br />
正确答案：
<span class="badge badge-success">
    {{ all_questions.0.answer_is_right }}
</span>

</td></tr><tr><td>
问题2：
{{ all_questions.1.question }}
<br />
A:
{{ all_questions.1.answer_a }}
<br />
B:
{{ all_questions.1.answer_b }}
<br />
C:
{{ all_questions.1.answer_c }}
<br />
D:
{{ all_questions.1.answer_d }}
<br />
你的答案：
{{ all_questions.1.answer }}
<br />
正确答案：
<span class="badge badge-success">
    {{ all_questions.1.answer_is_right }}
    <span>
<br />

</td></tr>
<tr><td>
问题3：
{{ all_questions.2.question }}
<br />
A:
{{ all_questions.2.answer_a }}
<br />
B:
{{ all_questions.2.answer_b }}
<br />
C:
{{ all_questions.2.answer_c }}
<br />
D:
{{ all_questions.2.answer_d }}
<br />
你的答案：
{{ all_questions.2.answer }}
<br />
正确答案：

<span class="badge badge-success">
    {{ all_questions.2.answer_is_right }}
    <span>
</td></tr>
<tr><td>
问题4：
{{ all_questions.3.question }}
<br />
A:
{{ all_questions.3.answer_a }}
<br />
B:
{{ all_questions.3.answer_b }}
<br />
C:
{{ all_questions.3.answer_c }}
<br />
D:
{{ all_questions.3.answer_d }}
<br />
你的答案：
{{ all_questions.3.answer }}
<br />
正确答案：
<span class="badge badge-success">
    {{ all_questions.3.answer_is_right }}
    <span>
<br />
</td></tr>
<tr><td>
        问题5：
{{ all_questions.4.question }}
<br />
A:
{{ all_questions.4.answer_a }}
<br />
B:
{{ all_questions.4.answer_b }}
<br />
C:
{{ all_questions.4.answer_c }}
<br />
D:
{{ all_questions.4.answer_d }}
<br />
你的答案：
{{ all_questions.4.answer }}
<br />
正确答案：
<span class="badge badge-success">
    {{ all_questions.4.answer_is_right }}
    <span>
<br />
</td></tr>
</table>
<a class="btn" href="/exam_test/checkout"><span>重新开始</span></a>
 <a class="btn btn-success"href="{% url recommend_article %}"><span>返回首页</span></a>
 <a class="btn btn-primary"href="{% url user_rate_list %}"><span>查看测试记录</span></a>
{% else %} 
<h3>{{ num_question }}:{{ question }}</h3>
<table class="table table-hover">
<tr>
<td>
<input type="radio"  name="answer" value="A" />
</td>
<td>
{{ answer_a }}
</td>
</tr>
<tr>
<td>

<input type="radio" name="answer" value="B" />
</td>
<td>
{{ answer_b }}
</td>
</tr>
<tr>
<td>
<input type="radio" name="answer" value="C" />
</td>
<td>
{{ answer_c }}
</td>
</tr>
<tr>
<td>
<input type="radio" name="answer" value="D" />
</td>
<td>
{{ answer_d }}
</td>
</tr>
</table>
<input class="btn btn-primary" type="submit" value="提交" />
<!---/.row--->
</form>
{% comment %}
{% if error %}
<h2>选择正确</h2>
{% else %}
<h2>正确答案是:</h2>
<br/>
{% endif %}
{% endcomment %}
{% endif %}
{%endblock %}


